<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\Shipcloud\Api\Data\UserResponseInterface" type="MageSuite\Shipcloud\Model\UserResponse"/>
    <preference for="MageSuite\Shipcloud\Api\Data\ShipmentResponseInterface" type="MageSuite\Shipcloud\Model\ShipmentResponse"/>
    <preference for="MageSuite\Shipcloud\Api\Data\ShipmentInterface" type="MageSuite\Shipcloud\Model\Shipment"/>
    <preference for="MageSuite\Shipcloud\Api\GetUserInterface" type="MageSuite\Shipcloud\Model\GetUser"/>
    <preference for="MageSuite\Shipcloud\Api\GetShipmentInterface" type="MageSuite\Shipcloud\Model\GetShipment"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="create_shipment" xsi:type="object">MageSuite\Shipcloud\Console\Command\CreateShipment</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MageSuite\Shipcloud\Model\VirtualLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/shipcloud.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageSuite\Shipcloud\Model\VirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">MageSuite\Shipcloud\Model\VirtualLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="MageSuite\Shipcloud\Model\GetUser">
        <arguments>
            <argument name="logger" xsi:type="object">MageSuite\Shipcloud\Model\VirtualLogger</argument>
        </arguments>
    </type>

    <type name="MageSuite\Shipcloud\Model\GetShipment">
        <arguments>
            <argument name="logger" xsi:type="object">MageSuite\Shipcloud\Model\VirtualLogger</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shipcloud_order_view_shipment_grid_data_source" xsi:type="string">MageSuite\Shipcloud\Model\ResourceModel\Shipment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MageSuite\Shipcloud\Model\ResourceModel\Shipment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">shipcloud_shipment</argument>
            <argument name="resourceModel" xsi:type="string">MageSuite\Shipcloud\Model\ResourceModel\Shipment</argument>
        </arguments>
    </virtualType>

</config>
